*{
    margin: 0; 
    padding: 0;
}
.cabecalho {
padding: 15px 25px;   
display: flex;
justify-content: space-between;
align-items: center;
background-color: #feffd5;
}
.cartao {
    width: 260px;
    height: 200px;
}
.cartao-imagem{
    width: 100%;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(255, 236, 246);
}
    main{
        flex: 1;
    }
    .cabecalho-link{
        color:rgb(255, 231, 244);
        text-decoration: double;
    }
    h1{
        color: #222020;
        font-size: 24px;
    }
    footer{
        background-color: rgb(255, 247, 202);
        padding: 15px 25px;
        color: rgb(238, 220, 255);
    }